 # Advanced Pandas

**SESSION 1: Date & Time Operations**

*Why Date & Time Is CRITICAL in Data Analytics*

Almost every real business question is time-based:

- ðŸ“ˆ Monthly sales trend
- ðŸ“Š Year-over-year growth
- ðŸ›’ Orders in last 30 days
- ðŸ‘¥ Active users per week

In [ ]:
import pandas as pd

**Step 1: Create a Sample Dataset**

In [ ]:

data = {
    'order_id': [101, 102, 103, 104],
    'order_date': ['2024-01-05', '2024-02-10', '2024-02-15', '2024-03-01'],
    'sales': [2500, 1800, 3200, 1500]
}

df = pd.DataFrame(data)
df

**Step 2: Check the Data Type**

In [ ]:
df.info()

**Step 3: Convert String â†’ Datetime**

In [ ]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [ ]:
df.info()

**Step 4: Extract Date Components**

In [ ]:
# Extract Year
df['year'] = df['order_date'].dt.year

In [ ]:
# Extract Month
df['month'] = df['order_date'].dt.month

In [ ]:
# Extract Day
df['day'] = df['order_date'].dt.day

In [ ]:
# Extract Weekday
df['weekday'] = df['order_date'].dt.day_name()

These columns are used directly in:

- GroupBy
- Pivot tables
- Dashboards

**Step 5: Filtering Data Using Dates**

In [ ]:
# Example 1: Orders after Feb 1, 2024

df[df['order_date'] >= '2024-02-01']

In [ ]:
# Example 2: Orders in February only

df[df['month'] == 2]

**Step 6: Date Difference**

In [ ]:
# Days since order
df['days_since_order'] = (pd.Timestamp('2024-03-10') - df['order_date']).dt.days

**PRACTICE QUESTIONS**

Practice 1 (Basic)

Create a DataFrame with:
- employee_name
- joining_date

In [ ]:
data = {
   'employee_name': ['jhon','karan','meena','jack','king'],
   'joining_date': ['2025-02-01','2025-02-02','2025-03-03','2025-03-05','2025-03-04'],
   'Sales':  [2000,12000,15000,30000,50000]
}
practice = pd.DataFrame(data)
practice

In [ ]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [ ]:
# Convert joining_date to datetime.
practice['joining_date'] = pd.to_datetime(practice['joining_date'])

In [ ]:
practice.info()

*Practice 2 (Intermediate)*

In [ ]:
# extract year , month and day
practice['year'] = practice['joining_date'].dt.year
practice['month'] = practice['joining_date'].dt.month
practice['day']  =  practice['joining_date'].dt.day

In [ ]:
# filter sales from 2023
practice_2023 = practice[practice['year'] == 2023]

In [ ]:
practice.head()

**INTERVIEW QUESTIONS**

*Q1ï¸âƒ£ Why do we convert dates using pd.to_datetime()?*

- Because Pandas treats raw dates as strings and cannot perform time-based operations.

*Q2ï¸âƒ£ Difference between object and datetime64?*

- object is text; datetime64 allows filtering, extraction, and arithmetic.

*Q3ï¸âƒ£ How do you filter records from last 30 days?*

In [ ]:
df[df['date'] >= pd.Timestamp.today() - pd.Timedelta(days=30)]

*Q4ï¸âƒ£ How do you extract month name?*

In [ ]:
df['date'].dt.month_name()

*Q5ï¸âƒ£ Common mistakes while working with dates?*

- *Not converting datatype, wrong format, string comparison*

**SESSION 2: Pivot Tables**

*Why Pivot Tables Are CRITICAL for Data Analysts*

Pivot tables are used to:

- Create summary reports
- Answer business questions fast
- Replace complex GroupBy code
- Do Excel / Power BIâ€“style analysis


*What Is a Pivot Table*

A pivot table:

- Takes raw data
- Groups it
- Aggregates it
- Shows results in a clean table

GroupBy + Aggregate + Reshape

In [ ]:
import pandas as pd

**Step 1: Create a Sample Dataset**

In [ ]:

data = {
    'city': ['Delhi', 'Delhi', 'Mumbai', 'Mumbai', 'Chennai', 'Chennai'],
    'year': [2023, 2024, 2023, 2024, 2023, 2024],
    'sales': [5000, 7000, 4000, 6500, 3000, 4800]
}

df = pd.DataFrame(data)
df

**Step 2: Understand the Business Question**

Example questions:

- Total sales per city?
- Year-wise sales per city?
- Average sales per city?

In [ ]:
df.groupby('city')['sales'].sum()

In [ ]:
df.groupby(['city', 'year'])['sales'].sum()

In [ ]:
df.groupby('city')['sales'].mean()

**Step 3: Basic Pivot Table**

In [ ]:
# Total Sales per City
pd.pivot_table(
    df,
    values='sales',
    index='city',
    aggfunc='sum'
)

# values â†’ what to calculate
# index â†’ group by
# aggfunc â†’ how to summarize

**Step 4: Pivot with Rows + Columns**

In [ ]:
# Year-wise Sales per City
pd.pivot_table(
    df,
    values='sales',
    index='city',
    columns='year',
    aggfunc='sum'
)

**Step 5: Multiple Aggregations**

In [ ]:
# Sum + Average Sales per City
pd.pivot_table(
    df,
    values='sales',
    index='city',
    aggfunc=['sum', 'mean']
)

**Step 6: Handle Missing Values in Pivot Tables**

By default:

- Missing combinations = NaN

In [ ]:
# Fill missing with 0
pd.pivot_table(
    df,
    values='sales',
    index='city',
    columns='year',
    aggfunc='sum',
    fill_value=0
)

**pivot() vs pivot_table()**

pivot()

- No aggregation
- Data must be unique

pivot_table()

- Supports aggregation
- Handles duplicates
- Used in real analytics

**PRACTICE QUESTIONS**

*Practice 1 (Basic)*

In [ ]:

data = {
    'city': ['Delhi', 'Mumbai', 'Delhi', 'Chennai', 'Mumbai'],
    'sales': [200, 300, 150, 400, 250]
}

df = pd.DataFrame(data)
df

In [ ]:
pd.pivot_table(
    df,
    values= 'sales',
    index= 'city',
    aggfunc= 'sum'
)

*Practice 2*

In [ ]:
data = {
    'city': ['Delhi', 'Delhi', 'Mumbai', 'Mumbai', 'Chennai', 'Chennai'],
    'year': [2022, 2023, 2022, 2023, 2022, 2023],
    'sales': [200, 300, 250, 350, 400, 500]
}

df = pd.DataFrame(data)
df

In [ ]:
pd.pivot_table(
    df,
    values='sales',
    index='city',
    columns='year',
    aggfunc='mean'
)

*Practice 3 (Advanced)*

In [ ]:
# Sample employee dataset
data = {
    'department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'year': [2022, 2023, 2022, 2023, 2022],
    'salary': [50000, 55000, 70000, None, 60000]
}

df_emp = pd.DataFrame(data)
df_emp

In [ ]:
# Pivot table solution (with missing values filled)
pd.pivot_table(
    df_emp,
    values='salary',
    index='department',
    columns='year',
    aggfunc='mean',
    fill_value=0
)

**INTERVIEW QUESTIONS**

*1ï¸âƒ£ What is a pivot table?*

* A summary table that groups and aggregates data.

*2ï¸âƒ£ Difference between GroupBy and Pivot Table?*

* GroupBy is flexible for logic; pivot tables are better for reporting.

*3ï¸âƒ£ When would you prefer pivot tables?*

* When creating dashboards, reports, or Excel-like summaries.

*Q4ï¸âƒ£ How do you handle missing values in pivot tables?*

In [ ]:
fill_value=0

*Q5ï¸âƒ£ Difference between pivot() and pivot_table()?*

- pivot_table() supports aggregation and duplicates.*

**SESSION 3: Performance Optimization & Best Practices**

*Why Performance Matters in Data Analytics*

In real jobs:

- Datasets can have millions of rows
- Slow code = slow reports = unhappy business
- Interviewers check how you think, not just output
- Good analysts write clean + fast + readable code.

*First Concept: Vectorization*

In [ ]:
# Correct Way (Vectorized Operation)
df['updated_Salary'] = df['salary'] * 1.1

 *Use Built-in Pandas Functions*

In [ ]:

df['name'] = df['name'].str.upper()

*Avoid Chained Indexing*

In [ ]:
df.loc[df['salary'] > 50000, 'bonus'] = 5000

*Memory Optimization*

In [ ]:
# Convert object â†’ category
df['city'] = df['city'].astype('category')

In [ ]:
# Use copy() When Needed
filtered_df = df[df['salary'] > 40000].copy()

**PRACTICE QUESTIONS**

*Practice 1*

In [ ]:
# Increase salary by 15% without loops.
df["salary"] = df["salary"] * 1.15

*Practice 2*

In [ ]:
# â€œSeniorâ€ if experience > 5
# Juniorâ€ otherwise

df["level"] = "Junior"
df.loc[df["experience"] > 5, "level"] = "Senior"

**INTERVIEW QUESTIONS**

*Q1ï¸âƒ£ Why are loops slow in Pandas?*

- Pandas is optimized for vectorized operations, not Python loops.

*Q2ï¸âƒ£ When should you use .apply()?*

- When logic cannot be vectorized easily.

*Q3ï¸âƒ£ What is chained indexing?*

- Accessing data in multiple steps, which can cause assignment issues.

*Q4ï¸âƒ£ How do you optimize memory usage?*

- Use category, proper dtypes, drop unused columns.

*Q5ï¸âƒ£ How do you improve Pandas performance?*

- Vectorization, avoid loops, minimize .apply(), optimize datatypes.

**SESSION 4: Weekly Revision & End-to-End Analytics Task**

*Why This Session Exists*

Real analysts:

- Take raw data
- Clean it
- Transform it
- Summarize it
- Deliver insights

In [39]:
import pandas as pd

**Step 1: Create Raw Datasets**

In [40]:
# Employee Table

employees = {
    'emp_id': [1, 2, 3, 4, 5],
    'name': ['Amit', 'Sara', 'John', 'Neha', 'Raj'],
    'dept_id': [101, 102, 101, 103, None],
    'salary': [50000, 60000, None, 45000, 52000],
    'join_date': ['2022-01-10', '2023-03-15', '2021-07-01', '2024-02-20', '2023-11-05']
}

df_emp = pd.DataFrame(employees)

In [41]:
# Department Table
departments = {
    'dept_id': [101, 102, 103],
    'department': ['IT', 'HR', 'Finance']
}

df_dept = pd.DataFrame(departments)

**Step 2: Inspect the Data**

In [ ]:
df_emp.info()
df_emp.isnull().sum()

**Step 3: Data Cleaning**

In [ ]:
# Convert Join Date
df_emp['join_date'] = pd.to_datetime(df_emp['join_date'])

In [45]:
# Handle Missing Salary
df_emp['salary'].fillna(df_emp['salary'].mean(), inplace=True)

C:\Users\saraf\AppData\Local\Temp\ipykernel_9332\195581395.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_emp['salary'].fillna(df_emp['salary'].mean(), inplace=True)

In [47]:
# Handle Missing Department
df_emp['dept_id'].fillna(999, inplace=True)

C:\Users\saraf\AppData\Local\Temp\ipykernel_9332\4191154213.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_emp['dept_id'].fillna(999, inplace=True)

**Step 4: Feature Engineering**

In [48]:
#V Extract Year
df_emp['join_year'] = df_emp['join_date'].dt.year

In [49]:
# dentify Recent Joiners (2023+)
df_emp['recent_joiner'] = df_emp['join_year'] >= 2023

**Step 5: Merge Datasets**

In [51]:
final_df = pd.merge(
    df_emp,
    df_dept,
    on='dept_id',
    how='left'
)

**Step 6: GroupBy Analysis**

In [52]:
# Average Salary per Department
avg_salary = final_df.groupby('department')['salary'].mean()

In [53]:
# Count of Employees per Department
emp_count = final_df.groupby('department')['emp_id'].count()

**Step 7: Pivot Table (Report-Ready Output)**

In [60]:
pd.pivot_table(
    final_df,
    values='salary',
    index='department',
    aggfunc=['mean', 'count']
)

               mean  count
             salary salary
department
Finance     45000.0      1
HR          60000.0      1
IT          50875.0      2

**Step 8: Filter Recent Joiners**

In [61]:
recent_employees = final_df[final_df['recent_joiner']]

**Step 9: Save Final Output**

In [62]:
final_df.to_csv('clean_employee_data.csv', index=False)